<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"><title>Home - Lunch Match</title>

<style>
p {color:#33FF99; align: center}
span {color: white}
body {
background-color: linen;
}
h1 {
leftmargin="2";
-moz-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 5px 5px 5px black;
-webkit-box-shadow: 5px 5px 5px black;
box-shadow: 5px 5px 5px black;
}
</style>
</head>
<body style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 133);" leftmargin="25" alink="yellow" link="blue" marginwidth="25" vlink="#c0c0c0">
<table style="width: 1042px; height: 706px;" cellpadding="5">
<!--Row -->
<tbody>
<!-- Row 1-->
<!-- Row 2--><!-- Row 3-->
<tr>
<td colspan="1" style="text-align: left; height: 2%;"><font font-family="" 'goudy="" old="" style="" garamond="" 'big="" caslon="" 'times="" new="" roman="" serif="" font-style="" font-variant="" normal="" bold="" color="#00ff33" font-weight="" size="10"><i><b>
<a href="index.html">
<h1><img style="width: 325px; height: 63px;" alt="Lunch Match" src="lunchmatch-dandyhacks/lunchmatch/unnamed.gif"></h1>
</a></b></i></font></td>
<td colspan="1"></td>
<td style="text-align: right; vertical-align: top;" colspan="1"><a href="createAcct.html">Create an
Account</a></td>
<td style="text-align: left; vertical-align: top;"><a href="login.htm">Login</a></td>
</tr>
<tr>
<td style="color: black;" align="left"><font><font size="6"><a href="index.html">
<img style="border: 0px solid ; width: 164px; height: 55px;" alt="Home" src="home%20button%202.0%20.gif"></a></font></font></td>
<td></td>
<td align="center"><font size="6"><a href="index.htm"><font color="yellow"><br>
</font></a></font></td>
</tr>
<tr>
</tr>
<tr>
<td>&nbsp; &nbsp; &nbsp; &nbsp;
&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; </td>
<td colspan="2" align="center"><font size="6"><a href="createSchedule.html"><img style="border: 0px solid ; width: 585px; height: 56px;" alt="Create schedule" src="create%20schedule%202.0.GIF"></a></font>&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td colspan="2"></td>
</tr>
<tr>
<td><br>
</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td>&nbsp; &nbsp; &nbsp;
&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
&nbsp;&nbsp;<a href="about.html">
<img style="border: 0px solid ; width: 183px; height: 56px;" alt="About" src="about%20button%202.0.gif"></a></td>
<td>&nbsp; &nbsp; &nbsp; &nbsp;
&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href="howTo.html"><img style="border: 0px solid ; width: 314px; height: 53px;" alt="How-to" src="how%20to%20use%20button%202.0.gif"></a></td>
</tr>
</tbody>
</table>
<span><b>
</b></span><br>
<br>
<!--
<p><font size="4">Hi
<font color="red" size="5">echyam@gmail.com</font>.</font></p>
-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p align="right">
<!--~Elizabeth Yam--></p>
</body></html>